.container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.row {
  display: flex;
  gap: 1rem;
}

.photoLabel {
  font-weight: 500;
  margin-top: 0.5rem;
}

.title {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}
