.container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  animation: fadeIn var(--transition-normal);
}

.sectionCard {
  padding: 1rem;
}

.sectionCard h3 {
  margin-bottom: 0.75rem;
}

.list {
  list-style: none;
  padding: 0;
}

.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.listItem span {
  cursor: pointer;
  color: var(--primary);
  transition: color 0.3s;
}

.listItem span:hover {
  color: var(--primary-light);
}

.button {
  margin-left: 1rem;
}
