.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.notificationLabel {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.95rem;
  cursor: pointer;
}

.notificationLabel input {
  cursor: pointer;
}
